/* ----------------------LOGIN PAGE---------------------- */

/* Centered login container */
#login_container {
  max-width: 400px;
  margin: 0 auto;
  width: 100%;
}

/* vertical spacing for children */
#login_container > * {
  margin-top: 8px !important;
}


/* Header title bigger */
#header_title h1 {
  font-size: 40px !important;
  text-align: center;
}
